replicaCount: 1

image:
  repository: nginx
  tag: "latest"
  pullPolicy: Always


service: 
  type: NodePort
  port: 80

ingress: 
  enabled: false

namespace: demo

resources: {}

nodeSelector: {}

  